:root {
    --one: #F1ECC3;
    --two: #C9D8B6;
    --three: #57837B;
    --four: #515E63;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#root {
    background: wheat;
    min-width: 1000px;
    min-height: 600px;
    padding: 20px;
    border-radius: 5px 5px 0 0;
}

#legend {
    padding: 20px 0px;
    min-width: 1000px;
    background: wheat;
    border-radius: 0 0 5px 5px;
}

#tooltip {
    visibility: hidden;
    position: absolute;
    width: auto;
    height: auto;
    padding: 12px 16px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background: rgba(81, 94, 99, 0.9);
}

.states {
    stroke: white;
    stroke-width: 0.1%;
}

.county:hover {
    fill: black;
}

.federalStates {
    fill: none;
    stroke: black;
    stroke-linejoin: round;
  }
  
